*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: rgb(220, 220, 220);
}

body{
    background-color: rgb(31, 31, 31);
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar{
    display: none;
}

h1{
    color: rgb(220, 220, 220);
    background-color: rgb(31, 31, 31);
    margin-top: 100px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

h2{
    margin-left: 14.5%;
    color: rgb(207, 157, 157);
}

h3, h4{
    margin-left: 14.5%;
}
span{
    color: rgb(172, 105, 105);
}

p{
    margin-left: 14.5%;
    margin-right: 14.5%;
}

.main .aboutHeader{
    margin-top: 70px;
    margin-left: 14.5%;
    font-size: 28px;
    font-weight: bold;
    color: rgb(220, 220, 220);
}

.main ul{
    justify-content: space-around;
}

.main li{
    list-style-type: none;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 8%;
    background-color: rgb(40, 40, 40);
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 1;
}

.logo{
    color: rgb(220, 220, 220);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 22px;
}

.navlinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 50%;
}

.navlinks li{
    list-style: none;
}

.navlinks a{
    color: rgb(220, 220, 220);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.navlinks a:hover{
    color: rgb(133, 133, 133);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}


.navlinks b{
    color: rgb(92, 92, 92);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.mainCent{
    background-color: rgb(31, 31, 31);
    margin-top: 15px;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.portList{
    margin-left: 16%;
    list-style:circle;
}

.container{
    margin-top: 70px;
    box-sizing: border-box;
    color: rgb(20, 20, 20);
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 20px 100px;
}

.container:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("https://scontent-arn2-2.xx.fbcdn.net/v/t1.6435-9/78683730_598232014263059_2697187239380647936_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=cdbe9c&_nc_ohc=GrkJJMRYobgAX9xl1vA&_nc_ht=scontent-arn2-2.xx&oh=00_AT8y0oaml4G35HdKTlsWQp5ZeEQln1-UV1WitFKBu-50_A&oe=6281812C") no-repeat center;
    background-size: cover;
    z-index: -1;
    filter: blur(20px);
}

.ytContainer{
    overflow: hidden;
    position: relative;
    width:71%;
}

.ytContainer::after{
    padding-top: 56.25%;
    display: block;
    content: '';
}

.ytContainer iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contactBox{
    max-width: 850px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(26, 26, 26);
}

.cvBox{
    margin-left: 12%;
    display:flex;
    max-width: 71%;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.aboutBox{
    margin-left: 12%;
    display:inline;
    max-width: 71%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cvBox li{
    list-style-type: none;
    width: 450px;
}

.cvBox ul{
    display: flex;
    justify-content: space-around;
}

.right{
    padding: 25px 40px;
}

.contactHeader{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 22px;
}

.field{
    width: 100%;
    padding: 0.5rem 1rem;
    outline: none;
    border: solid rgba(46, 46, 46, 0.6);
    background-color: rgba(63, 63, 63, 0.6);
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.field:hover{
    background-color: rgba(39, 39, 39, 0.6);
}

.field:focus{
    background-color: rgba(94, 94, 94, 0.6);
}

.send{
    width:100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: rgba(19, 19, 19, 0.6);
    background-color: rgba(160, 160, 160, 0.6);
    cursor: pointer;
    outline: none;
    border: none;
}

.send:hover{
    background-color: rgba(94, 94, 94, 0.6);
    color:rgb(180, 179, 178)
}

@media screen and (max-width:880px) {
    .contactBox{
        grid-template-columns: 1fr;
    }
}

.mapcontainer{
    margin-top: 15px;
    overflow:hidden;    
    padding-bottom:80.25%;
    position:static;
    height:0;
}

.mapcontainer iframe{
    left:0;
    top:0;
    height:25%;
    width:25%;
    position:relative;
    min-height: 300px;
    min-width: 300px;
}

img {
    margin-top: 0px;
    width: 200px;
    height: auto
}

.pictureContainer{
    margin-left: 20.5%;
    overflow:visible;
    position:static;
    height:0;
    padding: 7px;
}

.aboutPicContainer img{
    margin-top: 0px;
    width: 71%;
    display: center;
    height: auto
}
 
@media only screen and (max-width: 800px){
    .pictureContainer{
        overflow:auto;
        position:static;
        height: 500px;
        margin-left: 0px;
        margin-left: 25%;
    }
    img {
        margin-top: 70px;
        width: 150px;
        height: auto;
        justify-content: center;
    align-items: center;
    text-align: center;
    }
      .cvBox ul{
        display:block;
        justify-content:center;
    }

    .navlinks{
        flex-direction: column;
    }

    h1{
        margin-top: 150px;
    }
}

.buttonWrapper{
display: flex;
align-items: left;
justify-content: left;
}

.buttonWrapper a{
    margin-top: 8px;
    margin-left: 14.5%;
    width:15%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    color: rgba(19, 19, 19, 0.6);
    cursor: pointer;
    outline: none;
    border: none;
    display: inline-block;
text-decoration: none;
background-color: rgba(160, 160, 160, 0.6); 
}

.modal{
 position: absolute;
 top: 0;
 bottom: 0;   
 left: 0;
 right: 0;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(77,77,77,0.7);
 transition: all 0.4s;
 visibility: hidden;
 opacity: 0;
}

.buttonWrapper a:hover{
    transition: all 0.4s;
    background-color: rgba(94, 94, 94, 0.6);
    color:rgb(180, 179, 178)
}

.modal:target{
    visibility: visible;
    opacity: 1;
}

.modalcontent{
  position: relative;
  background: rgb(43, 43, 43);
  width: 500px;
  max-width: 90%;
  padding: 1em 2em;
  border-radius: 4px;
  z-index: 2;
}

.modalclose{
    position: absolute;
    top: 0;
    right: 15px;
    color: #585858;
    text-decoration: none;
    font-size: 36px;
}